extends layout

block content
   header
      h1= title
   div.container
      div.content
        div.row
          div.col-md-6#sunburst(align='center')
            #main.col-md-10
              #sequence
              #chart
                #explanation(style='visibility: hidden;')
                  span#percentage
                  br
                  | of all Belgian votes
            #sidebar.col-md-2
              input#togglelegend(type='checkbox')
              | Legend
              br
              #legend(style='visibility: hidden;')
          div.col-md-6#percentagebars-legend
              div.row#legend
                  div.panel.panel-default
                      div.panel-body#statement-info
              div.row#percentagebars

        div.row
          div.col#stemtest(align='center')
              div.row
                div.col-md-2#picker
                  p(align='left') Pick a query by hovering over the bars.
                  p(align='left') % of people agreeing with a specific query.
                div.col-md-8#statements


   script.
      var data = !{JSON.stringify(data)}
   script(type='text/javascript', src='javascripts/vis.js')
   script(type='text/javascript', src='javascripts/vis2.js')
   script(type='text/javascript', src='javascripts/sequences.js')
   <!-- script(type='text/javascript', src='javascripts/statementselector.js') -->
